# A tale of Pymoli  [Pythonizing it!]

### Describe the given data to obtain information that can be use to make decisions.

In [2]:
#Importing modules
import pandas as pd
from IPython.display import display, HTML
import statistics
from babel.numbers import format_currency

#assign the data to a panda object
game=pd.read_csv("heroes.csv")

#let's see if the data was imported correctly
#printing a portion of the data
game.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

#### And... how many players do the land of Pymoli have?

In [3]:
#assigning to a variable the count of the unique values of SN
count=len(game['SN'].unique())

#creating a DF to present the information
c={'Number of players':[count]}
gamecount=pd.DataFrame(data=c)
display(gamecount)

   Number of players
0                576

In [4]:
#variables to calculatea average, total number of purchases
#revenue and unique items

items=len(game['Item ID'].unique())

average="{:.2f}".format(game['Price'].mean())
total_purchases=game['Purchase ID'].count()
revenue=format_currency(game['Price'].sum(),'USD', locale='en_US')

#--- Formatting data
#creatind a DF wit the information obtained it
#visualization purpose
r={'Unique items':[items], 'Average Purchase Price':[average], 'Total Number of Purchases':[total_purchases],
       'Total Revenue':[revenue]}
resume=pd.DataFrame(data=r)
resume

,Average Purchase Price,Total Number of Purchases,Total Revenue,Unique items
0,3.05,780,"$2,379.77",183

In [14]:


#it is needed to quit the duplicated accounts in order to have clean data 
#and know how many users are in total
g=game.drop_duplicates('SN', keep = 'last',inplace=False)

#the gender is grouped and counted
gender=g['Gender'].value_counts()

#the result values are assigned to a new DF
ga=pd.DataFrame(data=gender)
#the total of ussers is determined
total_gender=ga['Gender'].sum()
#the percentage for each gender it is calculated and assigned to a new column
ga['Percentage of players']=ga['Gender']/total_gender

#------- Formatting the data--------

gender_analysis=ga.rename(columns={'Gender': 'Total Count'})
gender_format=gender_analysis.style.format({'Percentage of players':'{:.2%}'})
gender_format

In [32]:
#game.head()
#game.shape

#Subsettng the data
#Get the original data frame filter by genre
#------------ Female----------------
filter_female= game['Gender']=='Female'

female=game[filter_female]

female_purchase_count = female['Purchase ID'].count()
female_purchase_average = female['Price'].mean()
female_purchase_total = female['Price'].sum()
female_unique = len(female['SN'].unique())
female_average_person=female_purchase_total/female_unique
female_purchase_count,female_purchase_average, female_purchase_total,female_average_person


#------------ Male------------------
filter_male= game['Gender']=='Male'

male=game[filter_male]

male_purchase_count = male['Purchase ID'].count()
male_purchase_average = male['Price'].mean()
male_purchase_total = male['Price'].sum()
male_unique = len(male['SN'].unique())
male_average_person=male_purchase_total/male_unique
male_purchase_count,male_purchase_average, male_purchase_total,male_average_person

#------------ Other / Non-Disclosed------------------
filter_male= game['Gender']=='Other / Non-Disclosed'

other=game[filter_male]

other_purchase_count = other['Purchase ID'].count()
other_purchase_average = other['Price'].mean()
other_purchase_total = other['Price'].sum()
other_unique = len(other['SN'].unique())
other_average_person=other_purchase_total/other_unique
other_purchase_count,other_purchase_average, other_purchase_total,other_average_person

(15, 3.3460000000000005, 50.19, 4.5627272727272725)